Package: lithium.beta
Name: Lithium Beta
Depends: mobilesubstrate, preferenceloader, cc.tweak.libobjcipc, firmware (>= 7.0)
Version: 2.0.0b2
Architecture: iphoneos-arm
Description: Lightweight battery icon themes (beta)
Maintainer: Carlos Liam <carlos@aarzee.me>
Author: Carlos Liam <carlos@aarzee.me>
Section: Tweaks
Conflicts: com.fortysixandtwo.alkaline
Provides: lithium
Depiction: http://aarzee.me/cydia/depiction.php?package=lithium.beta
