<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>lithium.prefs-changed</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>lithium</string>
			<key>key</key>
			<string>lithiumEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key> 			 
			<string>PSLinkListCell</string>
			<key>detail</key> 			 
			<string>LTMListItemsController</string>
			<key>key</key> 				 
			<string>lithiumTheme</string>
			<key>default</key>
			<string>Habesha</string>
			<key>defaults</key>
			<string>lithium</string>
			<key>label</key>
			<string>Theme</string>
			<key>titlesDataSource</key>
			<string>themeTitles:</string>
			<key>valuesDataSource</key> 
			<string>themeValues:</string>
		</dict>
	</array>
</dict>
</plist>