Package: lithium.beta
Name: Lithium Beta
Depends: mobilesubstrate, preferenceloader, firmware (>= 7.0)
Version: 0.9.2b1
Architecture: iphoneos-arm
Description: Lightweight battery icon themes (beta)
Maintainer: Carlos Liam <carlos@aarzee.me>
Author: Carlos Liam <carlos@aarzee.me>
Section: Tweaks
Conflicts: com.fortysixandtwo.alkaline, lithium
Provides: lithium
Depiction: http://aarzee.me/cydia/depiction.php?package=lithium.beta
